.container{
    width: 100%;
    height: auto;
    display: flex
    
}
.box{
    background-color: gray;
    width: 50%;
    height:700px;
    background-size: cover;
    box-sizing: border-box;
    font-size: 50px;
    padding-left: 10px;

}
.box1{
    background: url(/imag/honolulu.jpg);
    width: 50%;
    height: 700px;
    box-sizing: border-box;
    font-size: 50px;
    background-size: cover;
}
.box h1{
    font-size: 40px;
    color: white;
}
.box p{
    font-size:20px ;
    color: white;
}
#boton6{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 7px 15px;
    text-align: center;
    cursor: pointer;
    color: white;
    border-color: white;
    background: rgba(0, 0, 0, 0);
    
}